# General defaults for all files
[*]
charset = utf-8
indent_style = space
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Ruby-specific settings
[*.rb]
indent_size = 2

# Ruby-specific settings
[*.erb]
indent_size = 2

# Ruby Gemfile and Rakefile (often written in Ruby)
[Gemfile,Rakefile]
indent_size = 2

# YAML files (often used alongside Ruby projects, e.g., Rails configs)
[*.yml]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false

# Python-specific settings
[*.py]
indent_size = 4
